<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>Document</title>
</head>
<body>
  <h2>HELLO HOI DAN IT with EJS</h2>
  <img src="/images/ts.png" alt="Hoi Dan IT">
  <p>Message: <%= message %></p>
</body>
</html>