<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
</head>
<body>
  <h1>API version 1</h1>
  <img src="/images/nest.png" alt="Hoi Dan IT" width="400">
  <div class="introduction">
    <p class="box"><strong>Coder</strong>: Doan Tri Hung</p>
    <p class="box"><strong>Instructor</strong>: HoidanIT</p>
  </div>
  <p><strong>Message</strong>: <i><%= message %></i></p>
</body>
</html>