body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(120deg, #e21c6e 0%, rgb(218, 108, 117) 50%, #af002d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
  gap: 10px;
}
.box {
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
}